html{
    font-size: 16px;
}
.container {
    position:absolute; 
    width: 400px;
    height: 200px;
    border-width: 5px;
    border-color: #FFAD94;
    border-style: solid; 
    font-size: 2rem;
    text-shadow: 2px 2px 0 #FFAD94, 4px 4px 0 #FFD1CC, 6px 6px 0 #FFEDBF;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    background-image: url('https://picsum.photos/200/200'),url('https://picsum.photos/200/201'),url('https://picsum.photos/200/203');
    background-position: left top, right bottom, center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}
 .superior{
    /* transform-origin: left top; */
    transform: rotate(-1deg);
    
}
/*
.central{
    transform: rotate(15deg);
    transform-origin: left top;
   

}
.inferior{
      transform: rotate(-20deg);
    transform-origin: right top;

} */