:root {
    --color-texto: #403C4E;
    --color-fondo: #ffb6b631;
    --color-borde: #403C4E;
    --color_footer:  #FFC4B3;
    --fuente-principal: 'Open Sans', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    --fuente-titulos: 'Merriweather',
        /* preferida (de Google Fonts) */
        'Georgia',
        /* elegante, común en Windows/macOS */
        'Times New Roman',
        /* disponible en casi todos los sistemas */
        'Times',
        /* fallback clásico */
        serif;

        /*valores de las sombras*/
    --sombra-resplandeciente: 2px 2px 5px rgba(0, 0, 0, 0.3),
    4px 4px 10px rgba(212, 190, 94, 0.767),
   0 0 20px rgba(255, 200, 150, 0.8);}

html {
    font-size: 18px;
}

body {
    padding: 5px;
    font-family: var(--fuente-principal);
    line-height: 1.6;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    width: 80%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    line-height: 1.2;
    font-family:
        var(--fuente-titulos);
}

.aviso {
    padding: 1.6rem;
    background-color: var(--color-fondo);
    height: auto;
    line-height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.1rem;
    border-color: var(--color-borde);
    border-width: 2px;
    border-style: solid;
    box-shadow: var(--sombra-resplandeciente);

}

h1 {
    font-size: 2.5rem;
    /* ≈ 40px */
    font-weight: 700;
}

h2 {
    font-size: 1.875vw;
    /* ≈ 30px */
    font-weight: 700;
}


.columnas {

    margin-bottom: 1rem;
    border-radius: 6px;
    column-count: 3;
    /* Divide el contenido en 3 columnas */
    column-gap: 30px;
    /* Espacio entre columnas */
    column-rule: 2px solid #aaa;
    /* Línea divisoria */
    width: 100%;
    margin: 2rem auto;

}

.columna {
    background: rgb(197, 196, 196);
    break-inside: avoid;
    /* Evita que un div se parta entre columnas */
    padding: 1rem;

}

.columna.img {
    /*para que las imagenes se centren*/
    text-align: center;
}

.columna img {
    max-width: 100%;
    height: 150px;
    border-radius: 5px;

}

.contenido {
    min-height: 200px;
    height: auto;

}

footer {
    background-color: var(--color_footer);
    height: auto;
    padding: 1rem;
    border-radius: 10px;


}

/*opacidades de las imagenes*/
.c1.img {
    opacity: 0.3;
}

.c2.img {
    opacity: 0.6;
}

.c3.img {
    opacity: 0.9;
}